[Desktop Entry]
Name=I2P Browser
GenericName=Privacy Browser
Exec=i2p-browser
Terminal=false
Type=Application
Categories=Network;Security;Privacy;
Comment=I2P Anonymous Browser
