[Desktop Entry]
Name=I2P Browser
Comment=Anonymous web browser via I2P network
Exec=i2p-browser %u
Icon=firefox
Terminal=false
Type=Application
Categories=Network;WebBrowser;Security;
StartupWMClass=I2P Browser
